@inherits UmbracoViewPage<LoadViewModel>

<div class="popup" data-popup="popup">
    <div class="popup-inner">
        <div class="popup-close" data-popup-close="popup">x</div>
        <div class="popup-content">
          <h5>@Model.LoadName</h5>
          <ul>
            <li>Pick Up City: @Model.City</li>
            <li>Delivery City: @Model.DeliveryCity</li>
            <li>Rate: @Model.Rate</li>
            <li>Miles: @Model.Miles</li>
            <li>Broker: @Model.Broker</li>
            <li>Contact:
                <ul>
                    @foreach (var contact in @Model.Contact)
                    {
                        <li>@contact</li>
                    }
                </ul>
            </li>
            <li>Commodity: @Model.Commodity</li>
          </ul>

          <div id="map"></div>

        </div>
    </div>
</div>

<script>
    // Initialize the map
    var map = L.map('map').setView([@Model.Latitude, @Model.Longitude], 15);

    // Add OpenStreetMap tiles
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);

    // Add a marker
    var marker = L.marker([@Model.Latitude, @Model.Longitude]).addTo(map);
</script>